/*MEDIA-QUERIES*/


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  /*INDEX*/

  .contacts{
    display: none;
  }
  .schedule{
    display: none;
  }

  .top-header__btn--red{
    display: none;
  }

  .top-header__btn--transparent{
    display: none;
  }

  .main-nav ul{
    display: none;
  }

  .logo-block {
    margin-left: 0px;
    width: 216px;
    margin-top: 31px;
    margin-bottom: 36px;
  }

  .hamburger{
    position: absolute;
    display: block;
    top: -114px;
    right: 20px;
    border-radius: 3px;
    background-color: #a02d25;
    border: solid 3px #ba352b;
    padding: 10px 12px;
  }

  .hamburger--elastic.is-active .hamburger-inner{
    top: 12px;
  }

  .hamburger--elastic.is-active .hamburger-inner::after{
    top: 19px;
  }

  .hamburger-box {
    width: 70px;
    height: 41px;
    display: inline-block;
    position: relative;
  }

  .hamburger--elastic .hamburger-inner{
    top: 5px;
  }

  .hamburger--elastic .hamburger-inner::before{
    top: 18px;
  }

  .hamburger--elastic .hamburger-inner::after{
    top: 37px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #fff;
    border-radius: 0px;
    height: 2px;
    width: 68px;
  }

  .search{
    flex-basis: 100%;
    margin-right: 19px;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 12px;
  }

  .search form button {
    height: 38px;
    width: 37px;
    position: absolute;
    top: 16px;
    right: 16px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search form input{
    height: 70px;
    padding-left: 19px;
    font-size: 20px;
    color: #707070;
  }

  .search-input::-webkit-input-placeholder {color: #707070!important; font-size: 20px!important;}/* webkit */
  .search-input::-moz-placeholder          {color: #707070!important; font-size: 20px!important;}/* Firefox 19+ */
  .search-input:-moz-placeholder           {color: #707070!important; font-size: 20px!important;}/* Firefox 18- */
  .search-input:-ms-input-placeholder      {color: #707070!important; font-size: 20px!important;}/* IE */

  #parallelogram3 {
    z-index: 50;
    position: absolute;
    width: 197px;
    height: 45px;
    background-color: #333333;
    margin-left: 165px;
    margin-top: 0px;
    top: -381px;
  }

  #parallelogram4 {
    left: 230px;
    position: absolute;
    width: 302px;
    height: 64px;
    top: -381px;
  }

  #parallelogram2 {
    width: 477px;
    height: 83px;
    margin-left: 8px;
    margin-top: -8px;
  }

  #parallelogram1 {
    position: absolute;
    width: 484px;
    height: 84px;
    margin-left: 18px;
    margin-top: 6px;
  }

  .top-index__section--left h1{
    margin-top: 102px;
  }

  .top-index__section--left h1 span{
    font-size: 69px;
  }

  .top-index__section--left h2 {
    bottom: 11px;
    letter-spacing: 1px;
    left: 57px;
    font-size: 21px;
    z-index: 1;
    position: absolute;
    color: #fff;
  }

  .top-index__section--img {
    left: 41px;
    position: absolute;
    width: 85%;
    top: 51px;
  }

  .top-index__section{
    padding-bottom: 652px;
  }

  .top-index__section-h3--bottom-left {
    bottom: -447px;
    position: absolute;
    margin-left: 56px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ba352b;
    margin-top: 61px;
  }

  .top-index__section-h3--bottom-left::before {
    content: '';
    position: absolute;
    right: 102%;
    top: 25.6%;
    margin-top: -5px;
    width: 22.6px;
    height: 21.6px;
    background: #cc2729;
  }

  .top-index__section-h3--bottom-left::after{
    top: 50%;
  }

  .top-index__section-h3--top-right {
    margin-left: 72px;
    top: 434px;
    left: 0px;
  }

  .top-index__section-h3--top-right::before {
    content: '';
    position: absolute;
    left: -7%;
    top: 24%;
    margin-top: -5px;
    width: 22.6px;
    height: 21.6px;
  }

  .top-index__section-h3--top-right::after{
    content: '';
    position: absolute;
    right: 103%!important;
    top: 50%;
    width: 100vw;
    height: 1px;
    background: #000;
    left: unset;
  }

  .top-index__section-h3--bottom-right {
    bottom: -548px;
    right: 169px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #cc2729;
  }

  .top-index__section-h3--bottom-right::before {
    content: '';
    position: absolute;
    left: -7%;
    top: 24%;
    margin-top: -5px;
    width: 22.6px;
    height: 21.6px;
  }

  .top-index__section-h3--bottom-right::before {
    content: '';
    position: absolute;
    left: -10.9%;
    top: 24%;
    margin-top: -5px;
    width: 23.6px;
    height: 21.6px;
  }

  .top-index__section-h3--bottom-right::after {
    content: '';
    position: absolute;
    right: 104%;
    left: unset;
    top: 50%;
    width: 100vw;
    height: 1px;
    background: #cc2729;
  }

  #parallelogram5 {
    bottom: -653px;
    left: 153px;
    position: absolute;
    width: 113px;
    height: 64px;
  }

  #parallelogram6 {
    z-index: 1;
    left: 199px;
    position: absolute;
    width: 81px;
    height: 40px;
    background-color: #333333;
    bottom: -653px;
  }

  .descr-block{
    margin-top: 60px;
    display: flex;
    height: 126px;
  }

  .descr-block h3{
    margin: 39px 49px;
    line-height: normal;
    font-size: 20px;
  }

  .about-us-block{
    margin-top: 50px;
    margin-left: 0px;
    font-size: 26px;
  }

  .about-us-block h3{
    font-size: 27px;
    margin-bottom: 10px;
  }

  .btn--red__download{
    font-size: 23px;
  }

  .download-catalog{
    margin-top: 83px;
  }

  .btn--red__download img {
    left: 10px;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 13px;
  }

  .bottom-index__section{
    padding-bottom: 69px;
  }

  .logo-block--footer {
    position: relative;
    width: 118px;
    margin-top: 24px;
    margin-left: 0px;
  }

  .footer__item--description {
    display: block;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.23;
    letter-spacing: -1px;
    text-align: left;
    color: #818179;
    margin-top: 26px;
  }

  .logo-block--footer span {
    top: 56px;
    position: absolute;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
  }

  .footer-lists{
    margin-top: 70px;
  }

  .footer-lists ul li{
    font-size: 22px;
    margin-bottom: 23px;
  }

  .footer-contacts {
    margin-top: 51px;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
    margin-left: 0px;
    span{
      font-size: 20px;
      margin-top: 13px;
    }
  }

  .footer-schedule{
    margin-top: 17px;
    font-size: 20px;
    margin-left: 0px;
    span{
      font-size: 20px;
      margin-top: 10px;
    }
  }





  /*!INDEX*/

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  /*INDEX*/

  .contacts{
    display: none;
  }
  .schedule{
    display: none;
  }

  .top-header__btn--red{
    display: none;
  }

  .top-header__btn--transparent{
    display: none;
  }

  .main-nav ul{
    display: none;
  }

  .logo-block {
    margin-left: 0px;
    width: 216px;
    margin-top: 31px;
    margin-bottom: 36px;
  }

  .hamburger{
    position: absolute;
    display: block;
    top: -114px;
    right: 20px;
    border-radius: 3px;
    background-color: #a02d25;
    border: solid 3px #ba352b;
    padding: 10px 12px;
  }

  .hamburger--elastic.is-active .hamburger-inner{
    top: 12px;
  }

  .hamburger--elastic.is-active .hamburger-inner::after{
    top: 19px;
  }

  .hamburger-box {
    width: 70px;
    height: 41px;
    display: inline-block;
    position: relative;
  }

  .hamburger--elastic .hamburger-inner{
    top: 5px;
  }

  .hamburger--elastic .hamburger-inner::before{
    top: 18px;
  }

  .hamburger--elastic .hamburger-inner::after{
    top: 37px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #fff;
    border-radius: 0px;
    height: 2px;
    width: 68px;
  }

  .search{
    flex-basis: 100%;
    margin-right: 19px;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 12px;
  }

  .search form button {
    height: 38px;
    width: 37px;
    position: absolute;
    top: 16px;
    right: 16px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search form input{
    height: 70px;
    padding-left: 19px;
    font-size: 20px;
    color: #707070;
  }

  .search-input::-webkit-input-placeholder {color: #707070!important; font-size: 20px!important;}/* webkit */
  .search-input::-moz-placeholder          {color: #707070!important; font-size: 20px!important;}/* Firefox 19+ */
  .search-input:-moz-placeholder           {color: #707070!important; font-size: 20px!important;}/* Firefox 18- */
  .search-input:-ms-input-placeholder      {color: #707070!important; font-size: 20px!important;}/* IE */

  #parallelogram3 {
    z-index: 50;
    position: absolute;
    width: 197px;
    height: 45px;
    background-color: #333333;
    margin-left: 165px;
    margin-top: 0px;
    top: -381px;
  }

  #parallelogram4 {
    left: 230px;
    position: absolute;
    width: 302px;
    height: 64px;
    top: -381px;
  }

  #parallelogram2 {
    width: 477px;
    height: 83px;
    margin-left: 8px;
    margin-top: -8px;
  }

  #parallelogram1 {
    position: absolute;
    width: 484px;
    height: 84px;
    margin-left: 18px;
    margin-top: 6px;
  }

  .top-index__section--left h1{
    margin-top: 102px;
  }

  .top-index__section--left h1 span{
    font-size: 69px;
  }

  .top-index__section--left h2 {
    bottom: 11px;
    letter-spacing: 1px;
    left: 57px;
    font-size: 21px;
    z-index: 1;
    position: absolute;
    color: #fff;
  }

  .top-index__section--img {
    left: 41px;
    position: absolute;
    width: 85%;
    top: 51px;
  }

  .top-index__section{
    padding-bottom: 652px;
  }

  .top-index__section-h3--bottom-left {
    bottom: -447px;
    position: absolute;
    margin-left: 56px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ba352b;
    margin-top: 61px;
  }

  .top-index__section-h3--bottom-left::before {
    content: '';
    position: absolute;
    right: 102%;
    top: 25.6%;
    margin-top: -5px;
    width: 22.6px;
    height: 21.6px;
    background: #cc2729;
  }

  .top-index__section-h3--bottom-left::after{
    top: 50%;
  }

  .top-index__section-h3--top-right {
    margin-left: 72px;
    top: 434px;
    left: 0px;
  }

  .top-index__section-h3--top-right::before {
    content: '';
    position: absolute;
    left: -7%;
    top: 24%;
    margin-top: -5px;
    width: 22.6px;
    height: 21.6px;
  }

  .top-index__section-h3--top-right::after{
    content: '';
    position: absolute;
    right: 103%!important;
    top: 50%;
    width: 100vw;
    height: 1px;
    background: #000;
    left: unset;
  }

  .top-index__section-h3--bottom-right {
    bottom: -548px;
    right: 169px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #cc2729;
  }

  .top-index__section-h3--bottom-right::before {
    content: '';
    position: absolute;
    left: -7%;
    top: 24%;
    margin-top: -5px;
    width: 22.6px;
    height: 21.6px;
  }

  .top-index__section-h3--bottom-right::before {
    content: '';
    position: absolute;
    left: -10.9%;
    top: 24%;
    margin-top: -5px;
    width: 23.6px;
    height: 21.6px;
  }

  .top-index__section-h3--bottom-right::after {
    content: '';
    position: absolute;
    right: 104%;
    left: unset;
    top: 50%;
    width: 100vw;
    height: 1px;
    background: #cc2729;
  }

  #parallelogram5 {
    bottom: -653px;
    left: 153px;
    position: absolute;
    width: 113px;
    height: 64px;
  }

  #parallelogram6 {
    z-index: 1;
    left: 199px;
    position: absolute;
    width: 81px;
    height: 40px;
    background-color: #333333;
    bottom: -653px;
  }

  .descr-block{
    margin-top: 60px;
    display: flex;
    height: 126px;
  }

  .descr-block h3{
    margin: 39px 49px;
    line-height: normal;
    font-size: 20px;
  }

  .about-us-block{
    margin-top: 50px;
    margin-left: 0px;
    font-size: 26px;
  }

  .about-us-block h3{
    font-size: 27px;
    margin-bottom: 10px;
  }

  .btn--red__download{
    font-size: 23px;
  }

  .download-catalog{
    margin-top: 83px;
  }

  .btn--red__download img {
    left: 10px;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 13px;
  }

  .bottom-index__section{
    padding-bottom: 69px;
  }

  .logo-block--footer {
    position: relative;
    width: 118px;
    margin-top: 24px;
    margin-left: 0px;
  }

  .footer__item--description {
    display: block;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.23;
    letter-spacing: -1px;
    text-align: left;
    color: #818179;
    margin-top: 26px;
  }

  .logo-block--footer span {
    top: 56px;
    position: absolute;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
  }

  .footer-lists{
    margin-top: 70px;
  }

  .footer-lists ul li{
    font-size: 22px;
    margin-bottom: 23px;
  }

  .footer-contacts {
    margin-top: 51px;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
    margin-left: 0px;
    span{
      font-size: 20px;
      margin-top: 13px;
    }
  }

  .footer-schedule{
    margin-top: 17px;
    font-size: 20px;
    margin-left: 0px;
    span{
      font-size: 20px;
      margin-top: 10px;
    }
  }





  /*!INDEX*/
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
/*INDEX*/
/*!INDEX*/
  .logo-block{
    width: 152px;
    margin-top: 23px;
  }

  .top-header__btn--red{
    display: none;
  }

  .top-header__btn--transparent{
    display: none;
  }

  .schedule {
    margin-top: 41px;
    margin-left: 131px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    span{
      margin-top: 7px;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: #444444;
    }
  }

  .col-md-dn{
    display: none;
  }

  .top-header {
    margin-bottom: 39px;
  }

  .adaptive-contacts{
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 31px;
    span{
      margin-top: 7px;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      display: block;
    }
  }

  .contacts{
    display: none;
  }

  .main-nav ul{
    display: none;
  }

  .hamburger{
    position: absolute;
    display: block;
    top: 37px;
    left: 49px;
    border-radius: 3px;
    background-color: #a02d25;
    border: solid 3px #ba352b;
    padding: 8px 12px;
  }

  .hamburger-box{
    height: 18px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #fff;
    border-radius: 0px;
    height: 2px;
  }

  .search{
    margin-top: 8px;
    margin-bottom: 7px;
    flex-basis: 34%;
    margin-left: 0px;
  }

  .search form input{
    height: 50px;
    padding-left: 15px;
  }

  .search form button {
    top: 13px;
    right: 14px;
  }

  #parallelogram3{
    margin-left: -191px;
    width: 139px;
    height: 33px;
  }

  #parallelogram4 {
    left: -141px;
    width: 213px;
    height: 45px;
  }

  .top-index__section--img {
    left: 5px;
    position: absolute;
    width: 100%;
    top: 102px;
  }

  #parallelogram5 {
    bottom: -2px;
    left: 353px;
    width: 78px;
    height: 45px;
  }

  #parallelogram6 {
    left: 385px;
    width: 57px;
    height: 27px;
    bottom: -2px;
  }

  #parallelogram2{
    width: 358px;
    height: 57px;
    margin-left: -12px;
    margin-top: -68px;
  }

  #parallelogram1{
    width: 360px;
    height: 58px;
    margin-left: -3px;
    margin-top: 31px;
  }

  .top-index__section--left h2 {
    bottom: 142px;
    letter-spacing: 1px;
    left: 28px;
    font-size: 15px;
    z-index: 1;
    position: absolute;
    color: #fff;
  }

  .top-index__section-h3--top-right {
    top: 33px;
    right: -3px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .top-index__section--left h1 {
    margin-left: -17px;
    margin-top: 115px;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #a02d25;
    span{
      font-size: 50px;
    }
  }

  .top-index__section-h3--bottom-left {
    margin-bottom: 27px;
    margin-left: -18px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ba352b;
    margin-top: 86px;
  }

  .top-index__section-h3--bottom-left::before{
    top: 91.6%;
  }

  .top-index__section-h3--bottom-left::after{
    top: 92%;
  }

  .top-index__section-h3--bottom-right {
    bottom: 8px;
    right: -3px;
    font-size: 17px;
  }

  .bottom-index__section{
    background-color: #fff;
  }

  .row-md-flex{
    flex-direction: row-reverse;
  }

  .descr-block {
    display: flex;
    margin-top: 42px;
    height: 90px;
  }

  .descr-block h3{
    margin-top: 27px;
    line-height: 19px;
    font-size: 14px;
    }

  .about-us-block {
    margin-top: 39px;
    margin-left: 0px;
    font-size: 17px;
    h3{
      font-size: 17px;
      margin-bottom: 13px;
    }
  }

  .download-catalog{
    margin-top: 61px;
    .btn--red__download{
      font-size: 17px;
      img{
        top: 13px;
      }
    }
  }

  .col-md-db{
    display: block;
  }

  .bottom-index__section{
    padding-bottom: 44px;
  }

  .logo-block--footer {
    margin-top: 6px;
    width: 94px;
  }

  .footer__item--description{
    display: block;
    letter-spacing: normal;
  }

  .logo-block--footer span{
    top: 45px;
    font-size: 13px;
  }

  .footer-contacts{
    margin-left: 122px;
    font-size: 14px;
    margin-top: 15px;
    span{
      font-size: 13px;
      margin-top: 9px;
    }
  }

  .footer-lists{
    margin-top: 36px;
    ul{
      li{
        margin-bottom: 22px;
      }
    }
  }

  .top-footer{
    padding-bottom: 5px;
  }

  .footer-schedule{
    font-size: 14px;
    margin-top: 40px;
    margin-left: 122px;
    span{
      font-size: 13px;
    }
  }

  /*!INDEX*/


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

  .contacts span {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-top: 3px;
    display: inline-block;
  }
  .schedule span {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-top: 3px;
    display: inline-block;
  }
  .top-header__btn--red {
    padding: 13px 16px 14px;
    margin-top: 24px;
  }

  .btn{
    font-size: 12px;
  }

  .main-nav ul li a {
    padding-bottom: 18px;
    padding-left: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    padding-right: 25px;
    padding-top: 20px;
  }
  .top-header__btn--transparent {
    margin-top: 24px;
    margin-left: -15px;
    color: #a02d25;
    position: relative;
    padding-left: 52px;
  }
  .sub-nav {
    background-color: #333333;
    width: 565px;
    height: 101.7%;
    position: absolute;
    left: -15px;
    border-bottom: 12px solid #a02d25;
  }
  .brands .brands-logo-items a {
    margin-right: 15px;
  }

  .descr-block h3 {
    margin: 0px 20px;
    line-height: 108px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
  }
  .about-us-block {
    margin-top: 72px;
    margin-left: 27px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
  }
  .advantages .advantages-item {
    -ms-flex-preferred-size: 48%;
    flex-basis: 47%;
    margin-bottom: 23px;
  }
  .advantages .advantages-item .adv-item-content{
    font-size: 14px;
  }
  .adv-item-content--list li{
    font-size: 14px;
  }
  .item-great-tittle{
    font-size: 18px;
  }
  .managment .managment-item h3{
    font-size: 15px;
    margin-top: 60px;
  }


  .brand-description-block p{
    font-size: 13px;
  }

  .brand-logo-additions a{
    font-size: 14px;
  }

  .news-block .news-item h3{
    margin-top: -11px;
  }

  .news-block .news-item .news-item__text{
    font-size: 13px;
  }

  .staff .staff-item h2{
    font-size: 14px;
  }

  .staff .staff-item h3{
    font-size: 12px;
  }

  .staff .staff-item ul{
    font-size: 12px;
    padding-bottom: 20px;
  }

  .staff-form form .great-staff-message{
    width: 445px;
  }

  .footer-schedule span{
    font-size: 11px;
  }

  .autorisation-page-tittle:after{
    right: 435px;
  }

  .autorisation-block .autorisation-social .autorisation-social--item{
    width: 136px;
  }

  .top-index__section--left h1 span{
    font-size: 69px;
  }

  .top-index__section--img{
    left: 10px;
    position: absolute;
    width: 86%;
    top: 75px;
  }

  .sub-menu-items a{
    font-size: 13px;
  }

  .sub-menu-items a li{
    padding-left: 10px;
  }

  .sliders .slider-nav{
    width: 26%;
  }

  .characteristics {
    height: 98.7%;
    margin-left: 20px;
    -webkit-transform: translate(2.6%, 0%);
    -ms-transform: translate(2.6%, 0%);
    transform: translate(2.6%, 0%);
    border: solid 1px #ba352b;
    padding-top: 26px;
    padding-left: 42px;
    padding-right: 25px;
    padding-bottom: 30px;
  }

  .product-col{
    height: 100%;
  }

  .sliders .slider-for{
    padding-bottom: 75px;
  }

  .characteristics .characteristics-text{
    font-size: 14px;
  }



}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}

/*!MEDIA-QUERIES*/